# Series in Pandas

In [2]:
#import pandas and numpy
import numpy as np
import pandas as pd

In [21]:
#lets creat list, lable, disctionary, and numpy array
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [22]:
#Convert your list, numpy array, and disctionary into the series
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [23]:
#creat two series and grab information from the indexes (make your own series)
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan']) 
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [25]:
ser1['USA']

1

In [26]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# DataFrames in Pandas

In [9]:
#import randn from the numpy library and set the seed
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

In [27]:
#generate random numbers in dataframe with 5 rows and 4 columns and set the column name (w,x,y,z)

In [28]:
#grab information of first and last column

In [29]:
#creat new column in your dataframe which contains the sum of column W and Y, name it as 'new'

In [30]:
#remove the generated column from your dataframe (use drop() function)

In [31]:
#print out the df (you still can see the removed column)

In [32]:
#drop the 'new' column permanently (Hint: use inplace)

In [33]:
#drop the last row from your dataframe (use axis for droping)

In [34]:
#select your first row from your dataframe

In [35]:
#select subset of rows and columns from your dataframe 
#(information from column w and y and rows A and B )

In [36]:
#find out the positive numbers from your dataframe with conditional selection

In [37]:
#Reset your dataframe to default 0,1...n index (hint: use reset_index() function)

In [38]:
#add new column (State= 'CA, NY, WY, OR, CO') and set that column as an index to your dataframe
#and set inplace=true

In [39]:
#set the inplace= true your new dataframe

In [40]:
#obtain summary data on your dataframe (describe function)

# Missing Data

In [86]:
#define new (3,3) dataframe by using dictionary
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [87]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [88]:
#remove NaN valus from the dataframe (use dropna())

In [89]:
#remove the NaN values from all columns (by defining the axis)

In [90]:
#set the thresh value of 2 and drop other nan (set thresh=2)

In [91]:
#set other name for cells with nan value (use fillna() function)

In [92]:
#fill the first column nan value with mean of the column

# Groupby

In [95]:
#Creat a dataframe from provided dictionary
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [98]:
#let's group them by Company

In [99]:
#save the new object into the new variable

In [100]:
#use diffrent aggrigate method to find out the sales for each company (count, mean, min, max,..)

# Operations

In [101]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [102]:
#find unique values in col2

In [103]:
#find number of unique numbers in col2

In [104]:
#count the unique numbers in col2

In [105]:
#Select from DataFrame using criteria from multiple columns (col1>2 and col2=444)

In [106]:
#show your newdf

In [107]:
#apply provided function to col1
def times2(x):
    return x*2

In [108]:
#find out how many words do we have in col3 (use times2 and apply function)

In [109]:
#calculate the sum of col1 (use apply and len)

In [110]:
#permanently remove the col1 (use del)

In [111]:
#df

In [112]:
#print out the column names

In [113]:
#use sort function to sort the values for col2 (use sort_values)
#df

# lets apply what you learned to the pandas exercises

In [114]:
#1. Import pandas and read in the population_by_county.csv file into a dataframe called pop.

In [115]:
#2. read the population_by_county.csv and Show the head of the dataframe

In [116]:
#3. What are the column names?

In [117]:
#4. How many States are represented in this data set?

In [118]:
#5. Get a list or array of all the states in the data set.

In [119]:
#6. What are the five most common County names in the U.S.?

In [120]:
#7. What are the top 5 most populated Counties according to the 2010 Census?

In [121]:
#8. What are the top 5 most populated States according to the 2010 Census?

In [122]:
#9. How many Counties have 2010 populations greater than 1 million?

In [123]:
#10. How many Counties don't have the word "County" in their name?

In [124]:
#pop.head()

In [125]:
#11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [126]:
#12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?